body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(111, 162, 172) 0%, rgb(165, 119, 163) 93%);
}

h1 {
    font-weight: 800;
    text-align: center;
    padding-top: 55px;
}

h3 {
    font-weight: 600;
    text-align: center;
}

#container, #login {
    background: rgb(18,50,12);
    background: linear-gradient(90deg, rgb(72, 160, 201) 8%, rgb(172, 110, 156) 88%);
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 32px 29px 10px -8px rgba(38,13,38,1);
    -moz-box-shadow: 32px 29px 10px -8px rgba(38,13,38,1);
    box-shadow: 32px 29px 10px -8px rgba(38,13,38,1);
}

#info {
    background: rgb(18,50,12);
    background: linear-gradient(90deg, rgb(72, 160, 201) 8%, rgb(172, 110, 156) 88%);
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 32px 29px 10px -8px rgba(38,13,38,1);
    -moz-box-shadow: 32px 29px 10px -8px rgba(38,13,38,1);
    box-shadow: 32px 29px 10px -8px rgba(38,13,38,1);
}

input {
    width: 300px;
    background-color: rgb(115, 160, 202);
    color: #efefef;
    border: 2px solid rgb(172, 148, 166);
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}




.titre {
    text-align: center;
}

a {
    color: rgb(129, 9, 103);
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: rgb(224, 64, 211);
}